
<head>
    <title>Purchase Order</title>
</head>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ng-controller="PurchaseOrderController">
    <section class="panel">

        <header class="panel-heading">
            <span>Upload purchase order file</span>
        </header>
        <div class="panel-body" id="panelBody">
            <form id="FormPurchaseOrderFile" name="FormPurchaseOrderFile" novalidate>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input id="CancelPurchaseOrderFile" type="button" value="Cancel" class="btn btn-warning" style="width:80px" data-ng-click="CancelPurchaseOrderFile()" />
                    <input id="AddPurchaseOrderFile" type="button" value="Add" class="btn btn-info obs" style="width:80px" data-ng-click="AddPurchaseOrderFile()" ng-disabled="FormPurchaseOrderFile.$invalid" title="Add purchase order file" />

                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="float:left">
                    <label>Title:</label>
                    <input type="text" id="TitlePurchaseOrderFile" name="TitlePurchaseOrderFile" data-ng-model="CurrentPurchaseOrderFile.Title" class="form-control" placeholder="Tile" required>
                    <span ng-hide="FormPurchaseOrderFile.TitlePurchaseOrderFile.$valid || FormPurchaseOrderFile.TitlePurchaseOrderFile.$pristine" style="color:red"> Please enter Title field ...</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="float:left">
                    <label>Supplier:</label>
                    <select id="drpSupplier" ng-model="CurrentPurchaseOrderFile.Supplier" ng-options="x.IDUser as x.Name_En for x in Suppliers" class="form-control" required>
                        <option value="">Select Option</option>
                    </select>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="float:left" id="divSelectFile">
                    <label>Select excel file:</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-file btnSelectFileUpload">
                                Browse… <input type="file" accept=".xls,.xlsx" id="excelFileUpload" onchange="angular.element(this).scope().ChangeFile(this)" data-filetype="xls,xlsx">
                            </span>
                        </span>
                        <input id="urlNamePurchaseOrderFile" type="text" class="form-control" style="width: 70%" readonly>
                        <button id="clear" class="btn btnClearFileUpload" data-ng-click="ClearExcelFileUpload()">Clear</button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="float:left">
                    <label>Deliver date: (ex:2017-05-15)</label>
                    <input type="text" id="Deliverdate" name="Deliverdate" data-ng-model="CurrentPurchaseOrderFile.DeliverDate" class="form-control" placeholder="Deliver date">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="float:left">
                    <label>Currency:</label>
                    <select id="drpCurrency" ng-model="CurrentPurchaseOrderFile.Currency" ng-options="x.IDCurrency as x.Title for x in Currencies" class="form-control" required>
                        <option value="">Select Option</option>
                    </select>
                </div>
            </form>
            <div class="clearfix"></div>
            <br />
            <br />
            <br />
            <form id="FormPurchaseOrder" name="FormPurchaseOrder" novalidate>
                <header class="panel-heading tab-bg-dark-navy-blue SetHeaderMasterTable">
                    <ul class="nav nav-tabs">
                        <li data-ng-repeat="Supplier in Suppliers">
                            <a data-toggle="tab" data-ng-click="GetPurchaseOrderFileAndDetail(Supplier.IDUser)" style="cursor:pointer">{{Supplier.Name_Fa}}</a>
                        </li>
                    </ul>
                </header>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="TablePurchaseOrderFile" style="display:none">
                    <a id="btnSortPurchaseOrderFile" class="fa fa-sort-amount-asc buttonOnTable" data-ng-click="SortPurchaseOrderFile()" title="Sort" data-placement="top" data-tooltip></a>
                    <a class="fa fa-search buttonOnTable" data-ng-click="ShowSearchModal()" title="Searching" data-placement="top" data-tooltip></a>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width:13%"></th>
                                <th id="thSelectPurchaseOrderFile" class="obs" title="Select purchase order file for showing in views" style="width:7%"> Select</th>
                                <th style="width:7%">Title</th>
                                <th style="width:10%">Supplier</th>
                                <th style="width:7%">Currency</th>
                                <th style="width:10%">Deliver date</th>
                                <th style="width:15%">Create date</th>
                                <th>Download</th>
                                <th>Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat-start="item in PurchaseOrderFiles">
                                <td>
                                    <i id="DeletePurchaseOrderFile" class="fa fa-trash deleteTable obs" title="delete purchase order file " data-placement="top" data-tooltip data-ng-click="DeletePurchaseOrderFile(item.IDPurchaseOrderFile,item.IDSupplier,item.FileUrl)"></i>
                                    <i id="EditPurchaseOrderFile" class="fa fa-pencil editTable obs" title="edit purchase order file" data-placement="top" data-tooltip data-ng-click="EditPurchaseOrderFile(item)"></i>
                                </td>
                                <td id="thSelectPurchaseOrderFile" class="obs">

                                    <input id="chkShow{{$index}}" type="checkbox" class="css-checkbox" ng-model="item.Show" ng-change="UpdateShow(item.Show,item.IDPurchaseOrderFile)">
                                    <label for="chkShow{{$index}}" class="css-label" style="margin-top:2px"></label>
                                </td>
                                <td style="padding-top:4px">
                                    {{item.Title}}
                                </td>
                                <td style="padding-top:4px">{{item.SupplierName}}</td>
                                <td style="padding-top:4px">{{item.CurrencyName}}</td>
                                <td style="padding-top:4px">{{item.DeliverDate}}</td>
                                <td style="padding-top:4px">{{item.CreateDate | date : "y/MM/dd h:mm a"}}</td>
                                <td><a href="/{{item.FileUrl}}" class="fa fa-download Download"></a></td>
                                <td>
                                    <span class="fa fa-list Detail" data-ng-click="ShowDetailPurchaseOrder(item.IDPurchaseOrderFile)">

                                    </span>

                                </td>
                            </tr>
                            <tr data-ng-repeat-end data-ng-if="activeRow==item.IDPurchaseOrderFile">
                                <td colspan="9" style="background-color:#f8f8f8">
                                    <i type="button" class="btn btn-Pdf SetPositionPdfButton" ng-click="exportToPdfSection1('PrintPurchaseOrder'+$index)" data-tooltip title="Export Pdf for section1" />
                                    <i type="button" class="btn btn-Pdf SetPositionPdfButton" ng-click="exportToPdfSection2('PrintPurchaseOrder'+$index)" data-tooltip title="Export Pdf for section2" />
                                    <div id="PrintPurchaseOrder{{$index}}">
                                        <div class="col-lg-12 col-md-12 SetPositionPurchaseOrderTable">
                                            <table class="display table table-bordered table-striped HeaderPurchaseForPrint">
                                                <thead>
                                                    <tr>

                                                        <th style="text-align:center">Title</th>
                                                        <th style="text-align:center">Supplier</th>
                                                        <th style="text-align:center">Currency</th>
                                                        <th style="text-align:center">DeliverDate</th>
                                                        <th style="text-align:center">CreateDate</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th style="text-align:center">{{item.Title}}</th>
                                                        <td style="text-align:center">{{item.SupplierName}}</td>
                                                        <td style="text-align:center">{{item.CurrencyName}}</td>
                                                        <td style="text-align:center">{{item.DeliverDate}}</td>
                                                        <td style="text-align:center">{{item.CreateDate | date : "y/MM/dd h:mm a"}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="clearfix"></div>
                                            <table class="display table table-bordered table-striped">

                                                <tr>
                                                    <!--POC1 = purchaseOrder column1-->
                                                    <th class="POCIndex" style="background-color:#d7f3d7;">No</th>
                                                    <th class="POCPicture" style="background-color:#d7f3d7;">Picture</th>
                                                    <th class="POCPartNumber" style="background-color:#d7f3d7;">PartNumber</th>
                                                    <th class="POCShortDes" style="background-color:#d7f3d7;">Description</th>
                                                    <th class="POCCountryOrgin" style="background-color:#d7f3d7;">CO</th>
                                                    <th class="POCQty" style="background-color:#d7f3d7;">Qty</th>
                                                    <th class="POCPrice" style="background-color:#d7f3d7;">Price</th>
                                                    <th class="POCTotal1" style="background-color:#d7f3d7;text-align:center">Total</th>
                                                    <th class="POCUnit" style="background-color:#d7f3d7;">Unit</th>

                                                    <th class="POCHsCode" style="background-color:#d7f3d7;">HsCode</th>
                                                    <th class="POCIDCode" style="background-color:#d7f3d7;">IDCode</th>
                                                    <th class="POCUnderValue" style="background-color:#d7f3d7;">undervalue</th>
                                                    <th class="POCTotal2" style="background-color:#d7f3d7;text-align:center">Total</th>
                                                    <th class="POCOperation" style="background-color:#d7f3d7;">Operation</th>
                                                </tr>


                                                <tr data-ng-repeat="children in item.Childs ">
                                                    <td class="POCIndex index">{{$index+1}}</td>
                                                    <td class="POCPicture"><img ng-src="/{{children.PicUrl}}" style="width:80px" /></td>
                                                    <td class="POCPartNumber PartNumber">
                                                        <a  href="http://{{ClientUrl}}/#!/DefineDetailProduct/{{children.IDXDefineDetailProduct}}" target="_blank"> {{children.PartNumber}}</a> 
                                                    </td>
                                                    <td class="POCShortDes ShortTechnicalDescription">{{children.TechnicalDescription}}</td>
                                                    <td class="POCCountryOrgin CountryOrgin">{{children.CountryOrgine}}</td>
                                                    <td class="POCQty Qty">{{children.Qty}}</td>
                                                    <td class="POCPrice Price">{{children.Price}}</td>
                                                    <td class="POCTotal1 Total1">{{children.Price * children.Qty | number:2}}</td>
                                                    <td class="POCUnit Unit">{{children.Unit}}</td>

                                                    <td class="POCHsCode HsCode"><input type="text" class="form-control" id="txtHsCode{{$index}}{{item.IDPurchaseOrderFile}}" value="{{children.RelatePurchaseFirstTime[0].HsCode|PassHsCode:children.RelatePurchaseOtherTime[0].HsCode}}" maxlength="20" onchange="angular.element(this).scope().txtChange(this)" ng-class="{SetBorderRed: children.RelatePurchaseFirstTime[0].HsCode==0}" /></td>
                                                    <td class="POCIDCode IDCode"><input type="text" class="form-control" id="txtIDCode{{$index}}{{item.IDPurchaseOrderFile}}" value="{{children.RelatePurchaseFirstTime[0].IDCode|PassIDCode:children.RelatePurchaseOtherTime[0].IDCode}}" maxlength="20" onchange="angular.element(this).scope().txtChange(this)" ng-class="{SetBorderRed: children.RelatePurchaseFirstTime[0].IDCode==0}" /></td>
                                                    <td class="POCUnderValue UnderValue">
                                                        <input type="number" class="form-control" id="txtUnderValue{{$index}}{{item.IDPurchaseOrderFile}}" value="{{children.RelatePurchaseFirstTime[0].UnderValue|PassUnderValue:children.RelatePurchaseOtherTime[0].UnderValue}}" step="0.01" onchange="angular.element(this).scope().txtChange(this)" ng-class="{SetBorderRed: children.RelatePurchaseFirstTime[0].UnderValue==0}" />
                                                    </td>
                                                    <td class="POCTotal2 Total2">{{children.UnderValue * children.Qty | number:2}}</td>
                                                    <td class="POCOperation Operation">
                                                        <img id="xx" class="btnOnTable addOnTable obs" src="/Portal/images/addOnTable.png" title="Add" data-placement="top" data-tooltip ng-click="addOnTable($index,children.IDDefineDetailProduct,item.IDSupplier,item.IDPurchaseOrderFile,children.IDPurchaseOrder)" />
                                                        <img class="btnOnTable UndoOnTable" src="/Portal/images/undoOnTable.png" title="Undo" data-placement="top" data-tooltip ng-click="undoOnTable($index,item.IDPurchaseOrderFile,children)" />

                                                    </td>

                                                </tr>


                                                <tr>
                                                    <td class="FooterIndex" style="background-color: #d7f3d7"></td>
                                                    <td class="FooterPicture" style="background-color: #d7f3d7"></td>
                                                    <td class="FooterPartNumber" style="background-color: #d7f3d7"></td>
                                                    <td class="FooterShortDescription" style="background-color: #d7f3d7"></td>
                                                    <td class="FooterCo" style="background-color: #d7f3d7"></td>
                                                    <td class="FooterSumQty" style="background-color: #d7f3d7"><b>{{item.Childs|sumByKey:'Qty'|number}}</b></td>
                                                    <td class="FooterSumPrice" style="background-color: #d7f3d7"><b>{{item.Childs|sumByKey:'Price'|currency:""}}</b></td>
                                                    <td class="FooterSumTotal1" style="background-color: #d7f3d7"><b>{{item.Childs|sumForTotal:'Qty':'Price'|currency:""}}</b></td>
                                                    <td class="FooterUnit" style="background-color: #d7f3d7"></td>

                                                    <td class="FooterHSCode" style="background-color: #d7f3d7"></td>
                                                    <td class="FooterIDCode" style="background-color: #d7f3d7"></td>
                                                    <td class="FooterSumUnderValue" style="background-color: #d7f3d7"><b>{{item.Childs|sumByKey:'UnderValue'|currency:""}}</b></td>
                                                    <td class="FooterSumTotal2" style="background-color: #d7f3d7"><b>{{item.Childs|sumForTotal:'Qty':'UnderValue'|currency:""}}</b></td>
                                                    <td class="FooterOperation" style="background-color: #d7f3d7"></td>
                                                </tr>


                                            </table>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </section>

    <div class="modal fade" id="ModalSortPurchaseOrderFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:red">&times;</button>
                    <h4 class="modal-title">
                        Sorting
                    </h4>
                </div>
                <section class="panel">
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-y:scroll;height:300px;">
                            <table class="table table-hover table-Padding">
                                <thead>
                                    <tr>
                                        <th style="Width:60%">Title</th>
                                        <th>Create Date</th>
                                    </tr>
                                </thead>
                                <tbody data-ng-sortable="SortTablePurchaseOrderFile" style="cursor:pointer;">
                                    <tr ng-repeat="item in PurchaseOrderFiles">
                                        <td>{{item.Title}}</td>
                                        <td>{{item.CreateDate | date : "y/MM/dd h:mm a"}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Searching
                    </h4>
                </div>
                <section class="panel">
                    <div class="panel-body">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                            <input type="text" id="txtSearchOnPartNumber" class="form-control" placeholder="PartNumber" ng-model="SearchPartNumber" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <input type="button" id="btnSearchOnPartNumber" class="btn btn-warning" value="Find" ng-click="SearchOnPartNumber(SearchPartNumber)" />
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-hover table-Padding">
                                <thead>
                                    <tr>
                                        <th style="Width:60%">Title</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in FindPartNumberOnPurchaseOrders">
                                        <td>{{item.Title}}</td>
                                        <td>{{item.Qty}}</td>
                                        <td>{{item.Price}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>










