<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime executionTimeout="3600" targetFramework="4.5" maxRequestLength=" 70000000" />
    <!--70 megabyte -->
    <!--<customErrors mode="On" defaultRedirect="~/Page404.aspx">
      <error statusCode="404" redirect="~/Page404.aspx" />
    </customErrors>-->
    <sessionState timeout="60"></sessionState>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000" />
        <verbs>
          <remove verb="OPTIONS" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
        <!--4mg-->
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />


    <!--Data Source=DESKTOP-1J133AA;Initial Catalog=SCMCenter;Integrated Security=False;User Id=sa ;password=sv@2015 -->
    <!--F5XGWMkZIKlt42FPnh+xfHxsC8n58cFpZ8gUaNi80GfaJBjJ87qbYuIfQPsKNkp7Rupw/qScKrcHr5V5I7WoS4M1KvvoMkqAKDjxZrkl14sEluosO3trMNqLU/vlrpiSox1Tv4eVkNYiB52a8bpo6Q== -->
    <!--vahid -->
    <!--<add key="localhostConnectionString" value="F5XGWMkZIKlt42FPnh+xfHxsC8n58cFpZ8gUaNi80GfaJBjJ87qbYuIfQPsKNkp7Rupw/qScKrcHr5V5I7WoS4M1KvvoMkqAKDjxZrkl14sEluosO3trMNqLU/vlrpiSox1Tv4eVkNYiB52a8bpo6Q==" />-->

    <!--saeed-->
    <add key="localhostConnectionString" value="F5XGWMkZIKlt42FPnh+xfM7rB2NVp0e3LGYCPpEyfrLaJBjJ87qbYuIfQPsKNkp7Rupw/qScKrcHr5V5I7WoS4M1KvvoMkqAKDjxZrkl14sEluosO3trMNqLU/vlrpiSox1Tv4eVkNYiB52a8bpo6Q=="/>


    <!--test online in local just change value-->
    <!--<add key="localhostConnectionString" value="F5XGWMkZIKkErZHdBM+XJPAPQnv2nY4RH6bQgbcCNOm+p1LECg2M7wYscXFg3DZ6SuAHLitCxCAW26/mOGr1nUk7M7CjghbeCSTr9rMdp00knHfPvTNj8r3/yidbfYj+KjNxua4BRwoAn+esoxGV9CIHnZrxumjp"/>-->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.13.0" newVersion="1.6.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
