<title>Question & Answer</title>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="QuestionAndAnswerController">
    <section class="panel">
        <header class="panel-heading">
            <h4 class="inline-block ">Question And Answer</h4>
            <div style="margin-left:30%;display:inline-block">
                <label>
                    <input type="radio" name="editList" value="New" ng-model="changeValueRadioButton" ng-change="GetNewQuestionAnswer()" checked />New
                </label>
                <label style="margin-left:20px">
                    <input type="radio" name="editList" value="Denied" ng-model="changeValueRadioButton" ng-change="GetDeniedQuestionAnswer()" />Denied
                </label>
                <label style="margin-left:20px">
                    <input type="radio" name="editList" value="Accepted" ng-model="changeValueRadioButton" ng-change="GetAcceptedQuestionAnswer()" />Accepted
                </label>
            </div>

            <input id="btnNewQuestionAndAnswer" type="button" class="btn btn-success Float-Right" title="New Question And Answer" data-placement="top" data-tooltip value="New" data-ng-click="NewQuestionAndAnswer()" />
            <div class="clearfix"></div>
        </header>

        <div class="panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-hover table-Padding">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Author</th>
                            <th> <input type="text" placeholder="PartNumber" style="padding-left:5px" ng-model="txtSearchPartNumber"></th>
                            <th style="text-align:right;width:40%">Question</th>
                            <th>Edit Date</th>
                            <th>Detail</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="item in QuestionAndAnswers|filter:{PartNumber:txtSearchPartNumber}|itemsPerPage:5" ng-class="{SetTextColoRed: item.Accept==0}">
                            <td>
                                <i id="DeleteQuestionAndAnswers" class="fa fa-trash deleteTable" title="delete" data-placement="top" data-tooltip data-ng-click="DeleteQuestionAndAnswer(item.IDQuestionAndAnswer)"></i>
                                <i id="EditQuestionAndAnswers" class="fa fa-pencil editTable" title="edit" data-placement="top" data-tooltip data-ng-click="EditQuestionAndAnswer(item)"></i>
                            </td>
                            <td>{{item.AuthorFullName}}</td>
                            <td>
                                <a href="http://{{ClientUrl}}/#!/DefineDetailProduct/{{item.IDXDefineDetailProduct}}" target="_blank" style="color:blue">{{item.PartNumber}}</a>
                            </td>
                            <th style="text-align:right;direction:rtl">{{item.Question}}</th>
                            <td>{{item.EditDate | date : "y/MM/dd h:mm a"}}</td>
                            <td>
                                <span class="fa fa-list Detail" style="cursor:pointer" ng-click="ShowAnswerModal(item)">

                                </span>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <dir-pagination-controls max-size="5"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls>
            </div>
            <div id="FormDataQuestionAndAnswer" class="Hide">
                <form name="FromQA">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="button" value="Cancel" class="btn btn-info" data-ng-click="CancelQuestionAndAnswer()" />
                        <input id="btnSaveQuestionAndAnswer" type="button" value="Add" class="btn btn-success" data-ng-click="SaveQuestionAndAnswer()" ng-disabled="FromQA.$invalid" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label">Question:</label>
                        <input type="text" class="form-control" data-ng-model="CurrentQA.Question" placeholder="Question" required />
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <label class="control-label">Part Number:</label><br />
                        <div custom-select="s.IDX as s.PartNumber for s in PartNumbers | filter: {PartNumber : $searchTerm} " ng-model="CurrentQA.PartNumber" required></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">Meta Tags:</label>
                        <input type="text" class="form-control" data-ng-model="CurrentQA.MetaTag" placeholder="MetaTag" />

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">Answer:</label><br />
                        <textarea data-froala ng-model="CurrentQA.Answer" required></textarea>
                    </div>
                </form>
            </div>


        </div>
    </section>

    <div class="modal fade" id="ModalShowAnswer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Question And Answer For <span style="color:red">{{SelectedQuestionAnswer.PartNumber}}</span>
                    </h4>
                </div>
                <section class="panel">
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" dir="rtl">
                            <b style="float:right;direction:rtl"> سوال :</b>
                            <div class="clearfix"></div>
                            <span style="float:right;direction:rtl">{{SelectedQuestionAnswer.Question}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" dir="rtl">
                            <b style="float:right;direction:rtl">پاسخ :</b>
                            <div class="clearfix"></div>
                            <span ng-bind-html="Answer" style="float:right;direction:rtl"></span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" dir="rtl" ng-show="SelectedQuestionAnswer.Accept==0">
                            <b style="float:right;direction:rtl"> دلیل مخالفت :</b>
                            <div class="clearfix"></div>
                            <span style="float:right;direction:rtl">{{SelectedQuestionAnswer.DescriptionByManager}}</span>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
